---
import { Image } from "astro:assets";
import Layout from "src/layouts/Layout.astro";
import people from "src/assets/images/people-smiling.jpg";
import heroBGImg from "@assets/images/gym/IMG_09902.jpg";
import helicson from "@assets/images/helicson.jpeg";
import adele from "@assets/images/adel.jpg";

import TeamMember from "@components/TeamMember.astro";
---

<Layout title="About us">
  <section class="flex flex-col items-center gap-6 pt-20 max-md:pt-10 relative">
    <div class="py-32 max-md:py-10">
      <div class="text-center flex flex-col gap-6 max-md:gap-2 text-base-200">
        <h1 class="uppercase text-8xl font-bold max-md:text-4xl z-10">
          About Us
        </h1>
        <!-- <h2 class="text-2xl max-md:text-xs z-10">
          Empower your quiet strength in our community of wellness
        </h2> -->
      </div>
      <div class="flex flex-col items-center">
        <!-- <Image
          src={heroImg}
          width={900}
          alt="Ata Ahi Fitness"
          class="-mt-10 w-[900px] max-md:-mt-2"
        /> -->
      </div>
      <Image
        src={heroBGImg}
        width={1300}
        alt="Ata Ahi Fitness"
        class="absolute top-0 left-0 w-full h-full object-cover"
      />
      <div
        class="absolute top-0 left-0 w-full h-full object-cover bg-gradient-to-r from-primary to-black opacity-[35%]"
      >
      </div>
    </div>
  </section>

  <section class="p-10 flex flex-col gap-12 items-center">
    <div class="bg-base-100 min-h-screen">
      <div class="flex flex-col gap-6">
        <div class="mt-8 flex-col text-2xl leading-relaxed">
          <p class="">
            We are a community based gym in Auckland, we were founded in 2023.
          </p>
          <p class="mt-4">Our goal is to help you achieve your goals</p>
          <p>Open 6 days a week.</p>
        </div>
        <div class="flex flex-col gap-2 font-bold">
          <p>Monday: 5am-10pm</p>
          <p>Tuesday: 5am-10pm</p>
          <p>Wednesday: 5am-10pm</p>
          <p>Thursday: 5am-10pm</p>
          <p>Friday: 5am-10pm</p>
          <p>Saturday: Closed</p>
          <p>Sunday: 5am-10pm</p>
        </div>
        <h1
          class="capitalize text-6xl text-center max-md:text-4xl font-bold text-black mt-8"
        >
          Meet our team
        </h1>
        <div
          class="flex flex-col sm:flex-row justify-evenly items-center mt-8 pb-32"
        >
          <!-- TEAM MEM 1 -->
          <div class="flex flex-col items-center justify-center gap-4">
            <Image
              class="rounded-full w-64 h-64 object-cover bg-black"
              src={helicson}
              width={500}
              alt={"Personal Trainer at gym"}
            />
            <div>
              <h1 class="font-bold text-xl">Helicson Yoohiro Fujuita</h1>
              <h1 class="">Personal Trainer</h1>
            </div>
            <p class="md:w-64">
              With over 15 years of experience in personal training, Helicson is
              a expert in helping people of all backgerounds reach their goals
            </p>
          </div>
          <!-- TEAM MEM 2 -->
          <div
            class="mt-16 sm:mt-0 flex flex-col items-center justify-center gap-4"
          >
            <Image
              class="rounded-full w-64 h-64 object-cover bg-black"
              src={adele}
              width={500}
              alt={"Personal Trainer at gym"}
            />
            <div>
              <h1 class="font-bold text-xl">Adele Tara</h1>
              <h1 class="">Owner & Wellbeing Coach</h1>
            </div>
            <p class="md:w-64">
              From a kickboxing enthusiast to a devoted fitness instructor,
              Adele's transformative journey reflects her passion for empowering
              others to find confidence through exercise.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
