---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Icon from "astro-icon";

const amenities = [
  {
    category: "Gym amenities",
    icon: "mdi:arm-flex",
    items: [
      "24-hour security",
      "convenient parking",
      "free WIFI",
      "private restrooms",
      "private showers",
      "free classes",
    ],
  },
  {
    category: "Cardio",
    icon: "mdi:run",
    items: [
      "treadmills w/ TVs",
      "ski ergs",
      "rowing machines",
      "exercise bikes",
      "ellipticals",
      "boxing equipment",
      "yoga mats",
    ],
  },
  {
    category: "Strength",
    icon: "mdi:barbell",
    items: [
      "squat racks",
      "cable machines",
      "plate loaded",
      "barbells",
      "dumbbells",
      "kettlebells",
      "medicine balls",
    ],
  },
  {
    category: "Training Services",
    icon: "mdi:whistle",
    items: ["personal training", "fitness assessment"],
  },
];
---

<Layout title="Amenities">
  <section>
    <div class="flex flex-col items-center gap-6 py-20 max-md:py-10 px-2">
      <div class="flex flex-col gap-24 max-md:gap-12">
        <h1 class="capitalize text-center text-8xl font-bold max-md:text-6xl">
          What we have to offer
        </h1>
        <div
          class="grid grid-cols-4 max-md:grid-cols-2 gap-6 max-lg:grid-cols-3 mx-auto"
        >
          {
            amenities.map((amenity) => (
              <div class="flex flex-col gap-4">
                <div class="flex items-center gap-2">
                  <Icon name={amenity.icon} class="w-8" />
                  <h1 class="capitalize text-2xl">{amenity.category}</h1>
                </div>
                <ul class="mt-2">
                  {amenity.items.map((item) => (
                    <li class="capitalize list-disc ml-4">{item}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from "swiper/bundle";

  // import styles bundle
  import "swiper/css/bundle";

  const swiper = new Swiper(".gallery", {
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
