---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import weAreWomenBust1 from "@assets/images/we-are-women-bust-1.png";
import weAreWomenFitness from "@assets/images/we-are-women-bust-2.png";
import womenPositiveImg from "@assets/images/women-positive.jpeg";
import bottleImg from "@assets/images/bottle.png";
---

<Layout title="For Women">
  <section class="flex flex-col items-center gap-6 pt-20 max-md:pt-10">
    <div class="text-center flex flex-col gap-12 max-md:gap-6">
      <h1 class="capitalize text-8xl font-bold max-md:text-6xl">
        Say hello to your wellness sanctuary
      </h1>
      <div>
        <h1 class="text-3xl max-md:text-base max-w-4xl mx-auto">
          The safe space for women to nurture their relationship with health and
          wellness at the intersection of movement and mental health.
        </h1>
      </div>
      <div class="flex flex-row justify-around items-baseline">
        <Image
          src={weAreWomenBust1}
          alt="we are women bust"
          class="max-md:w-1/2 object-scale-down"
        />
        <Image
          src={weAreWomenFitness}
          alt="we are women fitness"
          class="object-scale-down max-md:w-1/2"
        />
      </div>
    </div>
  </section>
  <section class="bg-secondary flex flex-col gap-16 py-20 max-md:py-10">
    <div class="flex items-center gap-16 justify-center">
      <h1 class="text-8xl font-bold max-md:text-6xl">Our Values</h1>
      <Image
        src={bottleImg}
        alt="bottle image"
        class="w-16 rotate-45 max-md:hidden"
      />
    </div>
    <div
      class="flex justify-center items-center max-md:flex-col gap-12 max-md:grid-cols-1 max-md:px-4"
    >
      <Image
        src={womenPositiveImg}
        alt="positive women"
        class="w-96 max-md:w-60 max-md:place-self-auto rounded-2xl place-self-end border-white border-8"
      />
      <p class="text-2xl max-w-lg">
        To provide a wellness sanctuary for all women to explore and define what
        wellness means to them. <br /><br />We are leading the industry by
        bridging the world of mental and physical health into one wholesome
        experience.<br /><br /><b
          >We're teaching people to move their bodies out of love and respect
          for themselves, not because of dissatisfaction or discomfort.</b
        >
      </p>
    </div>
  </section>
  <!-- <section
    class="p-32 max-md:px-6 max-md:py-24 bg-[url('/women-class.jpeg')] bg-cover bg-fixed"
  >
    <div class="flex flex-col items-center gap-8">
      <h1 class="capitalize text-6xl max-md:text-4xl font-bold text-neutral">
        Contact us today
      </h1>
      <a
        href=""
        class="btn btn-primary text-base-100 shadow-2xl btn-wide mt-4 rounded-none text-2xl z-10"
        >Join Now</a
      >
    </div>
  </section> -->
</Layout>
