---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImg from "@assets/images/hero.png";
---

<Layout title="Ata Ahi Fitness">
  <section class="flex flex-col items-center gap-6">
    <div class="text-center flex flex-col gap-6 max-md:gap-2">
      <h1 class="uppercase text-6xl font-bold max-md:text-2xl">Welcome to</h1>
      <h1 class="uppercase text-8xl font-bold max-md:text-4xl">
        Ata Ahi Fitness
      </h1>
      <h2 class="text-2xl max-md:text-xs">
        Empower your quiet strength in our community of wellness
      </h2>
    </div>
    <div class="flex flex-col items-center">
      <a
        href=""
        class="btn btn-primary text-base-100 shadow-2xl btn-wide mt-4 rounded-none text-2xl z-10"
        >Join Us Today</a
      >
      <Image
        src={heroImg}
        width={900}
        alt="Ata Ahi Fitness"
        class="-mt-10 w-[900px] max-md:-mt-2"
      />
    </div>
  </section>
</Layout>
