---
import { Image } from "astro:assets";
import Layout from "src/layouts/Layout.astro";
import heroBGImg from "src/assets/images/gym/IMG_1016.jpg";

import config from "../data/config.json";
---

<Layout title="Join Us">
  <div class="flex flex-col gap-20 max-md:gap-12 pb-20">
    <section
      class="flex flex-col items-center gap-6 pt-20 max-md:pt-10 relative"
    >
      <div class="py-32 max-md:py-10">
        <div class="text-center flex flex-col gap-6 max-md:gap-2 text-base-200">
          <h1 class="uppercase text-8xl font-bold max-md:text-4xl z-10">
            Join Us
          </h1>
          <!-- <h2 class="text-2xl max-md:text-xs z-10">
            Empower your quiet strength in our community of wellness
          </h2> -->
        </div>
        <div class="flex flex-col items-center">
          <!-- <Image
            src={heroImg}
            width={900}
            alt="Ata Ahi Fitness"
            class="-mt-10 w-[900px] max-md:-mt-2"
          /> -->
        </div>
        <Image
          src={heroBGImg}
          width={1300}
          alt="Ata Ahi Fitness"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
        <div
          class="absolute top-0 left-0 w-full h-full object-cover bg-gradient-to-r from-primary to-black opacity-[35%]"
        >
        </div>
      </div>
    </section>
    <section class="flex flex-col justify-center items-center gap-16 px-2">
      <div
        class="text-2xl max-md:text-xl max-w-screen-lg mx-auto flex flex-col gap-4"
      >
        <h2>
          Congratulations on your decision to join a gym! The next step is to
          arrange an <b>appointment</b> with us. This will allow us to give you a
          personalised tour of our facilities and understand your fitness goals.
          We're excited to meet you and help start your fitness journey!
        </h2>
      </div>
    </section>
    <section
      class="flex items-center justify-center text-center max-w-screen-xl mx-auto max-md:grid-cols-1 max-md:gap-20 px-2"
    >
      <div class="flex flex-col gap-12">
        <h2 class="text-3xl max-md:text-2xl">
          Fill in the form and we will contact you back within 48 hours
        </h2>
        <div class="flex flex-col items-center gap-4">
          <h2 class="font-bold text-3xl">Or phone us at</h2>
          <a
            href={`tel:+64${config.phoneNumber}`}
            class="text-2xl max-md:text-xl flex items-center btn btn-lg max-md:h-12 btn-primary"
          >
            <svg viewBox="0 0 24 24" class="w-8" astro-icon="mdi:phone">
              <path
                fill="currentColor"
                d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25 1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"
              ></path>
            </svg>
            {config.phoneNumber}
          </a>
        </div>
        <div id="" class="px-4 mx-auto w-full md:w-2/3">
          <form
            method="POST"
            class="space-y-8"
            name="contact"
            data-netlify="true"
          >
            <div class="flex flex-col items-start gap-2">
              <label for="name" class="block text-sm font-medium"
                >Full Name</label
              >
              <input
                id="name"
                name="name"
                class="shadow-sm mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                placeholder="Jane Smith"
                required=""
              />
              <label for="email" class="block text-sm font-medium">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="shadow-sm mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                placeholder="hi@gmail.com"
                required=""
              />

              <label for="phone" class="block text-sm font-medium"
                >Phone Number</label
              >
              <input
                type="text"
                name="phone"
                id="phone"
                class="shadow-sm mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                placeholder="022-222-2222"
                required=""
              />

              <label for="message" class="block text-sm font-medium"
                >When are you available?</label
              >
              <textarea
                id="message"
                name="message"
                class="shadow-sm mb-2 resize-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                placeholder=""
                required=""></textarea>
            </div>
            <button
              type="submit"
              class="py-3 px-5 text-sm font-medium text-center bg-secondary text-white rounded-lg bg-primary-700 w-full hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              >Send message</button
            >
          </form>
        </div>
      </div>
    </section>
  </div>
</Layout>
