---

---

<div id="map" class="h-96 w-full"></div>

<script>
  import L from "Leaflet";

  var map = L.map("map").setView([-36.845262, 174.771331], 15);
  var marker = L.marker([-36.845262, 174.771331]).addTo(map);

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  marker.addTo(map);
</script>
